$menu-color: #EAEAEA;
$sidemenu-color: #FFF;
$sidemenu-sub-color: #EEE;
$menu-darken-amount: 6;

$sub-maintop-color: white;
$sub-maintop-a-color: white;
$maintop-color: white;
$maintop-a-color: white;

$gray: rgba(224,224,224,1);
$dark-gray: #666;

$primary: #fdd835;
$primary-light: #ffff6b;

$side-hover: #ffff6b;
