
<div class="blanket" ng-click="cancel()">
  <div class="window shadow" ng-click="$event.stopPropagation()">
    <div class="header">
     Explorer
     <button class="closeBtn" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
    <div class="content">
      <!-- PATH -->
      <div id="explorerPath">
        <path-to-folder class="row"></path-to-folder>
        <add-folder></add-folder>
      </div>
      <!-- TREE -->
      <div id="explorerFoldersTree">
          <folder-tree-line ng-repeat='folder in folders' ng-if='folder.parent == 0'></folder-tree-line>
      </div>

    </div><!-- content -->
    <div class="footer">
        Footer
    </div><!-- footer -->
  </div><!-- window -->
</div>
